/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    color: #232323;
    position: relative;
    font-family: Manrope;
}

.cid {
  z-index: 1000;
  width: 100%;
  position: relative;
}



section, .container, .container-fluid {
  position: relative;
  word-wrap: break-word;
}

.cid .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.navbar-dropdown.navbar-fixed-top {
  position: fixed;
}

.navbar-fixed-top {
  top: auto;
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030;
  background: #282828;
}

section, .container, .container-fluid {
  position: relative;
  word-wrap: break-word;
}

.cid .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}

.cid .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}

.menu .navbar-brand {
  display: -webkit-flex;
}

.menu .navbar-brand span {
  display: flex
;
  display: -webkit-flex;
}

.navbar-dropdown .navbar-brand span {
  vertical-align: -4px;
}

.navbar-dropdown .navbar-logo {
  margin-right: 0.8rem;
  transition: margin 0.3s ease-in-out;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5, .display-7, span, p, a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}

.cid .navbar-brand .navbar-caption {
  line-height: inherit !important;
}

.cid .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}



@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
      display: -webkit-flex;
  }
}

.cid ul.navbar-nav {
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .cid .navbar-nav {
      padding-left: 1.5rem;
  }
}

.cid .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}

.cid .mbr-section-btn {
    margin: -0.6rem -0.6rem;
}

.cid .navbar-buttons {
  text-align: center;
  min-width: 140px;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}

.btn-primary, .btn-primary:active {
  background-color: #393193 !important;
  border-color: #393193 !important;
  color: #ffffff !important;
  box-shadow: none;
}

.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}

.mbr-section-btn .btn:not(.btn-form) {
  padding: 1.25rem 2rem;
  box-shadow: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.2rem;
    line-height: 1.7;
    border-width: 2px;
    font-weight: 600;
    margin: 0.6rem 0.6rem;
    font-family: 'Manrope', sans-serif;
}

.mbr-section-btn .btn:not(.btn-form):hover {
  background-color: #92919a; /* Cambio de color cuando se hace hover */
}


.nav-item .display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.btn {
  border-width: 2px;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex
;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.cid .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}

.cid .navbar-nav .nav-item .nav-link:hover {
  background-color: #aac3dd94;  /* Cambia el color de fondo al hacer hover */
  color: #fff; /* Cambia el color del texto si lo deseas */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del link */
}


/* Sección Hero */
.hero {
  position: static;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

/* Contenedor del Video */

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Superposición Opaca */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Ajusta la opacidad aquí */
  z-index: -1;
}

/* Contenido */
.content {
  position: absolute;
  z-index: 1;
  margin-left: 4rem;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.hero-description {
  font-size: 1.5rem;
  margin-top: 10px;
}

.hero-btn {
  padding: 1.25rem 2rem;
  color: #ffffff; /* Texto blanco */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid #ffffff; /* Borde blanco */
  border-radius: 100px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 1.5rem; /* Tamaño del texto */
  font-weight: 600;
  text-decoration: none; /* Quitar subrayado */
  transition: all 0.3s ease-in-out; /* Animación suave */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-btn:hover {
  background-color: #ffffff; /* Fondo blanco al pasar el mouse */
  color: #393193; /* Texto con un color contrastante */
  border: 2px solid #ffffff; /* Mantener el borde blanco */
}

.hero-title img {
  filter: brightness(0) invert(1); /* Cambia la imagen a blanca */
  width: auto; /* Mantén su proporción */
  height: auto; /* Ajusta según sea necesario */
  transition: filter 0.3s; /* Para un efecto suave en caso de hover */
  height: 140px;
}

.hero-title img:hover {
  filter: brightness(0.8) invert(1); /* Ejemplo de un cambio sutil en hover */
}

#mangas-container {
  display: none; /* Inicialmente oculto */
}

#mangas-container {
  margin-left: 100px;
  margin-right: auto;
  display: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: -60px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 56px;
  max-width: 66%;
}

#mangas-container.visible {
  opacity: 1;
  transform: scale(1); /* Vuelve al tamaño normal */
}


.manga-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 70px 70px 10px 10px;
  width: 300px; /* Tamaño fijo de las cartas */
  padding: 16px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Manrope', sans-serif;
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(50px); /* Empieza desplazada hacia abajo */
  animation: slideIn 0.5s ease forwards; /* Aparece con animación */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efectos al pasar el mouse */
}

.manga-card img {
  width: 100%;
  height: 400px; /* Tamaño fijo para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para evitar deformaciones */
  border-radius: 70px 70px 10px 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin-bottom: 12px; /* Espaciado entre imagen y texto */
}

.manga-card h3 {
  font-size: 1.5rem; /* Tamaño del título */
  font-weight: bold;
  color: #393193; /* Color del texto */
  margin-bottom: 8px; /* Espaciado debajo del título */
}

.manga-card:hover {
  transform: translateY(-10px); /* Eleva la carta al pasar el mouse */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Más sombra al hover */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Las cartas comienzan desplazadas hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Terminan en su posición original */
  }
}

.content.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}



/* Pantallas Muy Grandes (>1440px) */
@media (min-width: 1440px) {
  #mangas-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Pantallas Grandes (1024px a 1440px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  #mangas-container {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Cuatro columnas */
    gap: 20px; /* Espaciado entre las cartas */
    padding: 40px; /* Ajuste interno del contenedor */
    margin-top: 0; /* Alinea el contenedor correctamente */
    max-width: 90%; /* Asegura que no se desborde */
  }
}


/* Pantallas Medianas (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  #mangas-container {
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas */
    gap: 15px;
    padding: 40px; /* Ajusta el padding */
    margin-top: 0; /* Elimina desplazamiento hacia arriba */
  }
}


/* Pantallas Pequeñas (<768px) */
@media (max-width: 767px) {
  #mangas-container {
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 10px;
    padding: 20px; /* Reduce espacio interno */
    margin: 0 auto; /* Centrado */
    height: 320rem;
  }

  .manga-card {
    padding: 10px; /* Espaciado interno reducido */
    width: 100%; /* Carta ocupa todo el ancho */
  }

  .manga-card img {
    height: auto; /* Ajuste dinámico de la altura */
  }

  .content {
    position: absolute;
    z-index: 1;
    margin-left: 0rem;
}

.hero-title img {
  height: 100px;
}

.cid .navbar-brand {
  padding: 0px 0;
}
}

@media (max-width: 991px) {
  .cid .navbar-collapse {
      z-index: -1 !important;
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border-radius: 1.5rem;
      background: #ffffff;
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.8) !important;
      background: rgba(255, 255, 255, 0.8) !important;
      backdrop-filter: blur(8px);
      text-align: center;
  }
  .cid .container {
    display: flex;
    height: 85px;
   padding: 0.5rem 0.6rem; 
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 0px;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
}

@media (max-width: 767px) {
  .btn {
      padding: 0.75rem 1.5rem;
  }
}

/* Botón de hamburguesa */
.navbar-toggler {
  padding: 1px!important;
  background-color: transparent; /* Fondo transparente */
  width: 40px; /* Asegura que el botón tenga un tamaño adecuado */
  height: 30px; /* Ajustamos la altura para que las líneas se alineen correctamente */
  border: none!important;
}

/* Icono de las tres líneas del botón de hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: #333; /* Color de las tres líneas */
  width: 30px; /* Ajustamos el tamaño de las líneas */
  height: 3px; /* Ajustamos el grosor de las líneas */
  position: relative;
  transition: all 0.3s ease; /* Transición suave */
}

/* Líneas superior e inferior */
.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease; /* Transición suave */
}

/* Línea superior */
.navbar-toggler .navbar-toggler-icon::before {
  top: -12px; /* Ajustar esta propiedad para mover la línea superior hacia arriba */
  left: 0px;
}

/* Línea inferior */
.navbar-toggler .navbar-toggler-icon::after {
  bottom: -12px; /* Ajustar esta propiedad para mover la línea inferior hacia arriba */
  left: 0px;
}

/* Cuando el menú se abre, el botón se convierte en una "X" */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: transparent; /* Eliminar la línea central */
  border: none!important;
  height: 0px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg); /* Rotar la línea superior */
  top: -3px; /* Posicionar en el centro */
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg); /* Rotar la línea inferior */
  bottom: -0px; /* Posicionar en el centro */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;  /* Elimina el borde cuando está enfocado */
  box-shadow: none !important;  /* Elimina la sombra */
  border: none !important;  /* Elimina el borde */
}

.cid button.navbar-toggler {
  outline: none;
  width: 50px; /* Ajusta el ancho */
  height: 20px; /* Ajusta la altura */
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  top: -5px; /* Ajuste para subir el botón (puedes cambiar este valor según lo necesites) */
}

.cid .navbar-toggler .navbar-toggler-icon {
  background-color: #333;
  width: 30px; /* Asegura que las tres líneas sean de un tamaño adecuado */
  height: 3px; /* Grosor de las líneas */
  position: relative;
  transition: all 0.3s ease; /* Transición suave */
}

/* Líneas superior e inferior */
.cid .navbar-toggler .navbar-toggler-icon::before,
.cid .navbar-toggler .navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* Línea superior */
.cid .navbar-toggler .navbar-toggler-icon::before {
  top: -7px;
  left: 0px;
}

/* Línea inferior */
.cid .navbar-toggler .navbar-toggler-icon::after {
  bottom: -8px;
  left: 0px;
}

/* Cambio a "X" cuando el menú se abre */
.cid .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: transparent;
  border: none!important;
  height: 0px; /* Elimina la altura de la línea central */
}

.cid .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: -3;
}

.cid .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  bottom: 4px;
}





















/* Navbar Styles 
.nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.8) !important;
  --bs-navbar-padding-y: -0.5rem;
  border-radius: 100vw;
  height: 90px;
  margin-top: 1rem;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  left: 0;
  right: 0;
  max-width: 1320px;
  width: 100%;
  margin-left: auto; 
  margin-right: auto; 
}


.logo img {
  
  width: auto;
}

.logoimg {
  height: 70px;
  width: auto;
  margin: 0 8px; 
}


.nav-links {
  display: flex;
  justify-content: center; 
  gap: 20px;
}

.nav-links a {
  color: rgb(4, 4, 4);
  text-decoration: none;
  font-size: 20px;
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}

.nav-links a:hover {
  background-color: #aac3dd94;;
}


.explore-btn {
  padding: 1.25rem 2rem;
  background-color: #393193;
  border-color: #393193; 
  color: #ffffff ;
  box-shadow: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
    line-height: 1.7;
    border-width: 2px;
    font-weight: 600;
    margin: 0.6rem 0.6rem;
    font-family: 'Manrope', sans-serif;
}

.explore-btn:hover {
  background-color: #5f55c1;
}*/








/*


.banner {
    background-size: cover;
    background-position: center;
    height: 35vh;
    background-image: linear-gradient(rgba(0,0,0, 2.4), rgba(0,0,0, 0.4)),
    url(./img/fondo_1.jpg);

} 

.banner-container {
    text-align: center;
    padding: 2% 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
    font-size: 75px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
}

.Shop-content {
    /*background-size: cover;
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),
    url(./fondo_1.jpg);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

.card img {
    width: 90%;
    height: 250px;
}

.price {
    color: gray;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  .modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
  }
  
  .modal-header-title {
    justify-self: start;
  }
  
  .modal-header-button {
    cursor: pointer;
  }
  
  .modal-container .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .modal-container div img {
    height: 120px;
    width: 120px;
  }

  .quitar-product {
    cursor: pointer;
  }

  .ver-carrito {
    cursor: pointer;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
  } */